<form class="form_login" [formGroup]="myForm" (ngSubmit)="login()" >
    <div class="content_form_login">
        <div class="logo">
            <img class="mx-auto d-block" src="../../../assets/images/logo_r_fast.png" >
        </div>
        <div class="control_login">
            <i class="icon user"></i>
            <input class="form-control mx-auto d-block" type="number" formControlName="id_client" placeholder="id cliente">
        </div>
        <div class="control_login">
            <i class="icon email"></i>
            <input class="form-control mx-auto d-block" type="email"  formControlName="email" placeholder="correo electrónico">
        </div>
        <div class="control_login">
            <i class="icon password"></i>
            <div class="form-group input-icon">
                <i class="show_pass"></i>
                <input class="form-control mx-auto d-block" type="password" formControlName="password" placeholder="contraseña">
            </div>
        </div>

        <div class="control_login">
            <i class="icon db"></i>
            <select class="form-select form-control mx-auto d-block" formControlName="connection" placeholder="conexión">
                <option selected value="">Conexion</option>
                <option [value]="conexion.key" *ngFor="let conexion of conexiones" >{{conexion.name}}</option>
            </select>
        </div>
    </div>
    <div class="footer_form_login">
        <div class="options_sign_in">
            <button
                type="submit"
                class="btn_sign_in mx-auto d-block"
                [disabled]="myForm.invalid"
            >
                ingresar
                <i class="sign_in"></i>
            </button>
            <span class="forgot_password">
                <a href="#">
                    ¿Olvidó su Clave?
                </a>
            </span>
        </div>
        <!-- <div class="options_sign_in">
            <hr>
            <br>
            <span>Valid</span>
            <pre>{{myForm.valid | json}}</pre>
            <span>value</span>
            <pre>{{myForm.value | json}}</pre>
        </div> -->

    </div>

</form>