<ng-container *ngIf="modificar; else elseTemplate">
  <h2>Editar</h2>
</ng-container>
<ng-template #elseTemplate>
  <h2>Nuevo</h2>
</ng-template>
<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="myForm" (ngSubmit)="save()">
      <div class="mb-3 row">
        <label for="codigo_caja" class="col-sm-3 col-form-label">codigo_caja</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="codigo_caja" formControlName="codigo_caja" [readonly]="readonly"  />
        </div>
        <div *ngIf="validarError('codigo_caja')" class="form-text col-sm-12 text-danger">{{errorCodigoCaja}}</div>
      </div>
      <div class="mb-3 row">
        <label for="codigo_filial" class="col-sm-3 col-form-label">codigo_filial</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="codigo_filial" formControlName="codigo_filial" [readonly]="readonly" />
        </div>
        <div id="emailHelp" *ngIf="validarError('codigo_filial')" class="form-text col-sm-12 text-danger">
          {{errorCodigoFilial}}</div>
      </div>
      <div class="mb-3 row">
        <label for="nombre_caja" class="col-sm-3 col-form-label">nombre_caja</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nombre_caja" formControlName="nombre_caja" />
        </div>
        <div id="emailHelp" *ngIf="validarError('nombre_caja')" class="form-text col-sm-12 text-danger">
          {{errorNombreCaja}}</div>
      </div>
      <div class="mb-3 row">
        <label for="codigo_puc" class="col-sm-3 col-form-label">codigo_puc</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="codigo_puc" formControlName="codigo_puc" />
        </div>
        <div id="emailHelp" *ngIf="validarError('codigo_puc')" class="form-text col-sm-12 text-danger">
          {{errorCodigoPuc}}</div>
      </div>

      <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-sm-6"></div>
</div>