<h1>¿Está seguro?</h1>
<hr>
<p>
    Esta a punfo de {{accion}} el registro
</p>
<div class="d-flex justify-content-between">
    <button class="btn btn-danger" (click)="affirm()" >Si</button>
    <button class="btn btn-primary" (click)="deny()" >No</button>
</div>