@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container-fluid {
    width: 100%;
    padding-left: 0px;
}
.section_info {
    background-image: url("../../../images/container_info_bg_1.png");

    background-position: center;
    background-size: 100%;
    background-position-x: left;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -10;
    padding: 0;
    margin: 0;
}
.info_html-bg {
    background-image: url("../../../images/background_section_info.png");
    background-position: center;
    background-size: 98%;
    background-position-x: left;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 10;
}

.info_content {
    background-color: #87B2EB;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    min-height: 80vh;
    top: 10vh;
    left: 5vh;
    width: 80%;
}

.input-icon>i {
    color: #ccc;
    position: relative;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    float: right;
    top: 53px;
    right: 25px;
    text-align: center;
}

.options_sign_in {
    position: relative;
    top: 80px;
}

.btn_sign_in {
    cursor: pointer;
    background-color: #1655a6;
    border: none;
    border-radius: 8px;
    width: 267px;
    height: 55px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.input-icon>i:hover {
    cursor: pointer;
}

.form_login {
    background-image: url("../../../images/side_shadows.png");
    background-position: center;
    background-position-x: center;
    position: relative;
    height: 588px;
    width: 444px;
    padding-left: 41px;
    padding-right: 41px;
    top: 3vh;
    left: 5%;
}

.form_login .form-control {
    background-color: #f7f7f8;
    width: 90%;
    height: 50px;
    margin: 20px 0px;
    border: #f7f7f8;
}

.form_login input::placeholder {
    color: #b8b7bc;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.control_login {
    text-decoration: #b8b7bc;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 70px;
    z-index: -100;
}

.login {
    padding-top: 3vh;
}

.icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
    float: left;
    padding-top: 0px;
    margin: 0px;
    top: 48px;
    left: -22px;
    max-height: 44px;
}

select > option {
    color: #b8b7bc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*display: none;*/
    border: none;
    position: absolute;
    height: 55px;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

i.user {
    content: url("../../../images/icons/icon_user.png");
}
i.email {
    content: url("../../../images/icons/icon_email.png");
}

i.password {
    content: url("../../../images/icons/icon_password.png");
}

i.db {
    content: url("../../../images/icons/icon_db.png");
}

i.show_pass {
    content: url("../../../images/icons/icon_show_password.png");
}

i.sign_in {
    margin-left: 20px;
    content: url("../../../images/icons/icon_arrow_sign_in.png");
}

.options_sign_in > span {
    cursor: pointer;
    padding-top: 10px;
    margin:0 auto;
    display: table;
}

.forgot_password {
    height: 17px;
    color: #1655a6;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.content_form_login {
    background-image: url("../../../images/form_login_bg.png");
    background-position: center;
    background-position-x: center;
    position: relative;
    height: 433px;
    width: 362px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.footer_form_login {
    background-color: #d7d8dc;
    padding: 0px;
    background-position: center;
    background-position-x: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    width: 362px;
    top: 360px;
    height: 185px;
    z-index: -10;
}

.dynamic_html {
    color: #b8b7bc;
    background-color: #ffffff;
    position: relative;
    width: 95%;
    top: 3vh;
    left: 0vh;
    min-height: 73vh;
    border-radius: 18px;
    padding-left: 10px;
    padding-top: 10px;
}
