<div class="info_html-bg">
    <div class="info_content">
        <div class="dynamic_html">
<!--                        espacio para carga de contenido dinamico-->
            aqui es donde el cliente agrega contenido personalizado para ser renderizado en cada caso que el determine
        </div>
    </div>
</div>
