<h2>Registros de Con_p_caga</h2>
<div class="container">
    <table class="table table-striped-columns table-bordered">
        <thead>
            <tr>
                <th scope="col">codigo_caja</th>
                <th scope="col">codigo_filial</th>
                <th scope="col">nombre_caja</th>
                <th scope="col">codigo_puc</th>
                <th scope="col">acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let caja of cajas" >
              <th scope="row">{{caja.codigo_caja}}</th>
              <td>{{caja.codigo_filial}}</td>
              <td>{{caja.nombre_caja}}</td>
              <td>{{caja.codigo_puc}}</td>
              <td>
                <div class="btn-group d-flex justify-content-center " role="group">
                  <button type="button" (click)="delete(caja)" class="btn btn-danger">elimiar</button>
                  <button type="button" [routerLink]="['../edit',caja.codigo_caja,caja.codigo_filial]" class="btn btn-warning">modificar</button>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
</div>