<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid d-flex flex-row-reverse">
    <button class="btn btn-outline-light" (click)="salir()" >salir</button>
  </div>
</nav>
<div class="row mt-2 ml-2" >
  <div class="col-2">
    <app-sidemenu></app-sidemenu>      
  </div>
  <div class="col">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

